.TaskCard {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 15px;

  background: #FFFFFF;
  border: 1px solid #CCD9EC;
  border-radius: 8px;

  &__up {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_title {
      font-family: 'Cera Pro', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      color: #3152FF;
    }

    &_sum {
      display: flex;
      align-items: center;
      column-gap: 8px;

      span:first-child {
        font-family: 'Cera Pro', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #A3A3A3;
      }

      span:last-child {
        font-family: 'Cera Pro', sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #FFB800;
      }
    }
  }

  &__description {
    padding: 10px;
    background: #F7FAFC;
    border-radius: 8px;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #555555;
  }

  &__down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_author {
      display: flex;
      align-items: center;
      column-gap: 10px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      &-about {
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        span {
          font-family: 'Cera Pro', sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: #555555;

          a {
            color: #2B96F1;
          }
        }
      }
    }
    &_right{
      background: #3152FF;
      border-radius: 5px;
      padding: 12px 22px;
      border: none;

      font-family: 'Cera Pro', sans-serif;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      color: #FFFFFF;

    }
  }

}

