.button {
  font-weight: 700;
  line-height: 100%;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 5px;
  justify-content: center;
  border-radius: 5px;

  &__transparent {
    background: none;
    color: #FF5656;
    padding: 14px 0;
  }

  &__transparent-2 {
    background: none;
    color: #555555;
    padding: 10px 0;
    border: 1px solid #555555;
  }

  &__main {
    color: #FFFFFF;
    background: #FF274F;
    border-radius: 50px;
    padding: 14px 0;
  }

  &__big {
    padding: 18px 0 20px;
    font-size: 20px;
    color: #FFFFFF;
    background: linear-gradient(185.79deg, #FFFFFF -86.28%, #FF274F -86.25%, #FF5C7B -86.23%, rgba(255, 39, 79, 0.61) 96.7%), #FF274F;
    box-shadow: 0 2.88998px 20.2298px rgba(93, 126, 189, 0.12), inset 0px -4px 4px rgba(117, 0, 0, 0.53);
    border-radius: 72px;
  }

  &__blue {
    border: none;
    padding: 12px 0;
    width: 100%;
    background: #3152FF;
    border-radius: 5px;
    font-weight: 500;
    color: #FFFFFF;
  }
}