.homeStart {
  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_item {
      width: 23%;
      background: #FFFFFF;
      padding: 5px;

      &-content {
        border: 1px solid #FF5656;
        border-radius: 24px;
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 120px;
          height: 120px;
        }
      }
    }
  }
}