.serviceCard {
  cursor: pointer;
  overflow: hidden;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  &__user {
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 8px;

    &_username {
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: #555555;
      margin: 0 0 0 2px;
    }

    &_stars {
      margin-left: 5px;
      display: flex;
      column-gap: 1px;
      align-items: center;
    }

    &_avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  hr {
    margin: 0 10px;
    background: #D9D9D9;
  }

  &__payment {
    padding: 15px 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #3152FF;
  }

  &__desc {
    padding: 0 10px 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #555555;
  }
  &__buttons{
    display: flex;
    column-gap: 10px;
    padding: 0 5px 10px 5px;
  }

  &__img {
    width: 100%;
    height: 180px;
  }
}