.chat {
  padding: 10px 0 0;
  background: #FFFFFF;
  height: calc(100vh - 80px);
  display: flex;
  border-collapse: collapse;
  &__main{
    display: flex;
    height: 100%;
  }
  .container {
    height: 100%;
  }
}