.reviews {
  width: 70%;

  &__about {
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    color: #555555;
  }

  &__messageRow {
    margin-top: 40px;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
  }
}