.profileBaseInfo {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 70px;
  width: calc(25% - (40px / 3));

  &__status {
    display: flex;
    align-items: center;
    column-gap: 10px;

    span {
      font-family: 'Cera Pro', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: #555555;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    row-gap: 6px;

    &_title {
      font-family: 'Cera Pro', sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: #555555;
    }

    &_label {
      padding: 10px;
      background: #F1F5FC;
      border-radius: 8px;
      font-family: 'Cera Pro', sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #555555;
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        cursor: pointer;
      }
    }
  }

  &__avatar {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    background: #92E2E2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 120px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;

    &_change {
      background: rgba(85, 85, 85, 0.63);
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      align-items: center;
      justify-content: center;
    }
  }

  &__avatar:hover {
    .profileBaseInfo__avatar_change {
      display: flex;
      cursor: pointer;
    }
  }
}