.signIn {
  &__title {
    margin: 35px auto;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #AFAFAF;
    width: 68%;
  }

  &__form {
    padding: 0 25px;

    label {
      display: flex;
      align-items: center;
      column-gap: 15px;
      background: #FFFFFF;
      border: 1px solid #CCD9EC;
      border-radius: 50px;
      padding: 15px 20px;

      svg {
        width: 20px;
      }

      input {
        border: none;
        background: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 135%;
        color: #4C4866;
        width: 100%;
        outline: none;
      }

      &:nth-child(2) {
        margin: 20px 0 40px;
      }
    }
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #AFAFAF;
    display: block;
    margin: 30px 0 0;
  }
}