.cost{
  display: flex;
  align-items: flex-end;
  column-gap: 5px;

  span {
    &:first-child {
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      color: #555555;
    }

    &:nth-child(2) {
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      color: #FFB800;
    }

    &:last-child {
      font-size: 14px;
      line-height: 125%;
      color: #A3A3A3;
    }
  }
}