.headerPlatform {
  padding: 20px 0 30px;

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    width: 40%;
    display: flex;
    align-items: center;
    column-gap: 80px;
  }

  &__right {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    column-gap: 20px;

    &_item {
      line-height: 110%;
      color: #333333;
      display: flex;
      align-items: center;
      column-gap: 5px;
      cursor: pointer;
      position: relative;

      svg {
        transition: 0.3s;
      }

      &:hover {
        color: #3152FF;

        svg {
          transform: rotate(180deg);
          transition: 0.3s;

          path {
            fill: #3152FF;
          }
        }

        .headerPlatform__nav_item-modal {
          display: block;
        }
      }

      &-modal {
        position: absolute;
        top: 100%;
        left: 50%;
        padding: 10px 0 0;
        display: none;

        &-content {
          background: #FFFFFF;
          box-shadow: 0 5px 17px -3px rgba(138, 149, 167, 0.35);
          padding: 15px;
          display: flex;
          flex-direction: column;
          row-gap: 15px;

          a {
            white-space: nowrap;
          }
        }
      }
    }
  }

  &__more {
    border: none;
    background: none;
  }

  &__notification {
    border: none;
    background: none;
    line-height: 70%;
  }

  &__yellowButton {
    background: #FFB800;
    border-radius: 5px;
    border: none;
    padding: 10px 0;
    width: 90px;
    font-weight: 500;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    column-gap: 5px;
    justify-content: center;

    svg {
      margin: 0 0 3px;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    column-gap: 5px;

    &_ava {
      background: #81ACFF;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      color: #FFFFFF;
    }
  }

  &__categories {
    margin: 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;

    &_item {
      line-height: 110%;
      text-align: center;
      color: #555555;

      &:not(:last-child) {
        border-right: 1px solid #BFBFBF;
        padding-right: 35px;
      }

      &:not(:first-child) {
        padding-left: 35px;
      }
    }
  }

  &__history {
    margin: 40px 0 0;
    display: flex;
    align-items: center;
    column-gap: 10px;

    &_item {
      font-weight: 400;
      line-height: 100%;
      color: #555555;
    }
  }
}