.headerPlatform {
  padding: 20px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    width: 40%;
    display: flex;
    align-items: center;
    column-gap: 80px;
  }

  &__search {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    padding: 0 0 0 10px;
    display: flex;
    justify-content: space-between;
    width: 280px;

    &_icon {
      width: 15px;
    }

    label {
      width: 60%;
    }

    &_btn {
      width: 30%;
    }
  }

  &__right {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    column-gap: 20px;

    &_item {
      line-height: 110%;
      color: #333333;
      display: flex;
      align-items: center;
      column-gap: 5px;
      cursor: pointer;
    }
  }

  &__more {
    border: none;
    background: none;
  }

  &__notification {
    border: none;
    background: none;
    line-height: 70%;
  }

  &__yellowButton {
    background: #FFB800;
    border-radius: 5px;
    border: none;
    padding: 12px 0;
    width: 80px;
    font-weight: 500;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    column-gap: 5px;
    justify-content: center;

    svg {
      margin: 0 0 3px;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    column-gap: 5px;

    &_ava {
      background: #81ACFF;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      color: #FFFFFF;
    }
  }
}