.myProfile {
  background: #FFFFFF;

  &__main {
    padding: 10px 0 0;
    display: flex;
    flex-direction: column;
  }

  &__profile {
    display: flex;
    width: 100%;
    column-gap: 20px;

    &_box {
      width: 80%;
    }

    &_tasks {
      width: 100%;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #CCD9EC;
      border-radius: 8px;
      height: 80px;


      p {
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: #555555;
      }

      button {
        width: 30%;
        font-size: 16px;
        line-height: 100%;
        padding: 12px 0;
        flex-direction: row-reverse;
      }

      &:nth-child(2) {
        margin: 25px 0 5px;
      }
    }

    &_right {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      width: calc(60% - (40px / 3));

      &-name {
        font-family: 'Cera Pro', sans-serif;
        font-weight: 700;
        font-size: 22px;
        color: #555555;
      }

      &-role {
        font-family: 'Cera Pro', sans-serif;
        font-weight: 700;
        font-size: 22px;
        color: #555555;
      }

      &-desc {
        background: #FFFFFF;
        border: 1px solid #CCD9EC;
        border-radius: 8px;
        padding: 20px;

        span {
          font-family: 'Cera Pro', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 200%;
          white-space: revert;
          color: #555555;
        }
      }
    }
  }

  &__portfolio {
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    &_title {
      font-family: 'Cera Pro', sans-serif;
      font-weight: 700;
      font-size: 32px;
      text-transform: uppercase;
      color: #555555;
    }

    &_works {
      display: flex;
      flex-flow: row wrap;
      gap: 15px;

    }
  }

}