* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Cera Pro', sans-serif;
}

button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.pageTitle {
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    color: #555555;
    margin: 40px 0;
}