.MarketAside {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  padding: 17px;
  display: flex;
  flex-direction: column;
  width: calc(20% - 10px);

  label {
    display: flex;
    column-gap: 11px;
    align-items: center;
  }

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #555555;
    flex: auto;
  }

  h2 {
    margin: 20px 0 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #555555;
  }

  &__fromTo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: 16px;
      line-height: 100%;
      color: #555555;
    }

    input {
      outline: none;
      width: calc(50% - 5px);
      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      border-radius: 8px;
      padding: 8px;
      font-size: 16px;
      line-height: 100%;
      color: #555555;

      &::placeholder {
        color: #A3A3A3;
      }
    }
  }

  &__m0 {
    margin-top: 0 !important;
  }

  &__select {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #555555;
    padding: 8px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
  }

  &__radios {
    row-gap: 12px;
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 0;
    }

    &_title {
      width: calc(100% - 14px - 11px);
    }
  }
}